torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
torchmetrics==1.8.2
numpy==1.26.4
librosa
tqdm
matplotlib
pandas==2.3.3
wandb
comet_ml
hydra-core
nemo_toolkit[tts]==2.5.3
torchcodec

black
isort
pre-commit

gdown
